
nav {
    border: 2px solid gray;
    box-shadow: 1px 2px 2px gray;
    padding: 10px 8px;
    background-color: beige;
  }
  
  nav span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  
  .nav a {
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 1px -1px 2px gray;
    text-decoration: none;
    padding: 5px 8px;
    background-color: cyan;
  }
  .nav {
      flex-flow: wrap;
    }
