nav {
    border: 2px solid gray;
    padding: 8px 8px;
    background-color: beige;
    height: 150px;
  }
    nav span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  } 


  .company__name {
      height: 20px;
      width: 100px;
  }

  .logo {
      height: 70px;
      flex-direction: ;

  }

  .nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      
    }

.links {
    text-align: center;
    font-weight: bold;  
    background-color: tan;
    color: blue;
}