nav {
    border: 2px solid gray;
    padding: 4px 8px;
    background-color: beige;
    height: 150px;
  }
  nav span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  } 
  .nav a {
    border: 2px solid gray;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 8px;
    background-color: crimson;
    text-align: center;
    font-weight: bold;
    color: blue;
  }

  .company__name {
      height: 20px;
      width: 100px;
  }

  .logo {
      height: 70px;

  }

  .nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
    }

.links {
    text-align: center;
}
